{% extends 'core/base.html' %}
{% load static %}
{% block title %}Acerca de{% endblock %}
{% block background %}{% static 'core/img/about.jpg' %}{% endblock %}
{% block headers %}
    <h1>Acerca de</h1>
    <span class="subheading">Biografía</span>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar"
            src="{% static 'core/img/minilucia-bg.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Un poco sobre mi</h2>
        <p> Soy una joven cordobesa de 21 años, apasionada por el aprendizaje y el deporte, que me ha acompañado desde pequeña y me ha enseñado el valor del esfuerzo y la constancia. Estudio Ingeniería Matemática, donde he encontrado mi pasión por resolver problemas complejos y desarrollar soluciones eficaces. Tengo experiencia en programación en Python y análisis de datos, y me motiva aplicar mis conocimientos en Machine Learning para abordar retos de manera innovadora. Siempre busco aprender, crecer y mejorar mis habilidades técnicas, mientras exploro nuevas formas de impactar positivamente en el mundo. 🌟</p> 
    </div>
</div>
{% endblock %}
